.course-info-container {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.course-info {
    border: 1px solid blue;
    padding-top: 20px;
    height: 70vh;
}

.back-to-courses button {
    background-color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: 30px;
}

.back-to-courses button:hover {
    background-color: white;
}

.course-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    display: flex;
}

.course-description {
    width: 60%;
    margin-left: 30px;
}

.course-details {
    display: flex;
    flex-direction: column;
}

.course-details>p:first-child {
    margin-top: 16px;
    margin-bottom: 10px;
}

.course-details>p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.course-authors {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.course-authors p {
    margin-top: 5px;
    margin-bottom: 5px;
}