.registration-container {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    height: 75vh;
}

.registration-title{
    font-size: 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration-form label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.registration-form input {
    outline: none;
    border: 1px solid orange;
    height: 20px;
    width: 200px;
    border-radius: 0;

}

.registration-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.registration-button button{
    border: 1px solid purple;
}